.c-slider {
  display: block;
  margin: 0 auto;
  position: relative;

  &__button {
    align-items: center;
    appearance: none;
    background-color: $nav-btn-bg-color;
    border: 0;
    bottom: 0;
    color: $nav-btn-icon-color;
    display: flex;
    justify-content: center;
    outline: none;
    position: absolute;
    top: 0;
	transition: background-color 150ms ease-in-out;
    width: $nav-btn-width;
    z-index: 10;

    &:hover {
      background-color: darken($nav-btn-bg-color, 10%);
    }

    &--disabled {
      background-color: desaturate($nav-btn-bg-color, 100%);

      &:hover {
        background-color: desaturate(darken($nav-btn-bg-color, 10%), 100%);
      }
    }

    &--next {
      background-image: svg-url('<?xml version="1.0" encoding="utf-8"?> <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve"> <path fill="#{$nav-btn-icon-color}" d="M27.9,100.4c-5.8,5.8-5.7,15.3,0.5,20.9c5.8,5.3,14.8,4.8,20.3-0.8l47.3-47.3c2.8-2.8,4.2-6.5,4.2-10.2s-1.4-7.4-4.2-10.2 L48.8,5.5c-5.5-5.5-14.6-6.1-20.3-0.8c-6.1,5.6-6.3,15.1-0.5,20.9L58.2,56c3.9,3.9,3.9,10.2,0,14.1L27.9,100.4z"/> </svg>');
      background-position: center;
      background-repeat: no-repeat;
      background-size: $nav-btn-icon-size auto;
      right: 0;
    }

    &--previous {
      background-image: svg-url('<?xml version="1.0" encoding="utf-8"?> <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve"> <path fill="#{$nav-btn-icon-color}" d="M96.1,25.6c5.8-5.8,5.7-15.3-0.5-20.9c-5.8-5.3-14.8-4.8-20.3,0.8L27.9,52.8c-2.8,2.8-4.2,6.5-4.2,10.2s1.4,7.4,4.2,10.2 l47.3,47.3c5.5,5.5,14.6,6.1,20.3,0.8c6.1-5.6,6.3-15.1,0.5-20.9L65.8,70.1c-3.9-3.9-3.9-10.2,0-14.1L96.1,25.6z"/> </svg>');
      background-position: center;
      background-repeat: no-repeat;
      background-size: $nav-btn-icon-size auto;
      left: 0;
    }
  }

  &__frame {
    margin-left: $nav-btn-width;
    margin-right: $nav-btn-width;
    overflow: hidden;
    position: relative;
  }

  &__nav {
    list-style: none;
  }

  &__slide {
    display: block;
    float: left;
    height: $slide-height;
    width: $slide-width;
  }

  &__slides {
    list-style: none;
    width: 1000%;
  }
}
