// Colors override
$nav-btn-bg-color: #006400; // Background color for the control buttons

// Layout overrides
$image-height: 200px;
$image-width: 301px;
$slide-width: $image-width; // The width of a slide
