// Colors
$nav-btn-bg-color: #f15c6f !default; // Background color for the control buttons
$nav-btn-icon-color: white !default; // Color for the control buttons's icons

// Layout
$nav-btn-icon-size: 1rem !default;   // Size of the control buttons's icons
$nav-btn-width: 30px !default;       // Width of the control button
$slide-height: auto !default;        // The height of a slide
$slide-width: auto !default;         // The width of a slide
